<h1>Questions/Root Path</h1>
<div class="recent_questions">
  <h3>Recent Questions</h3>
  <ul>
    <% @recent_questions.each do |question| %>
      <li>
        <%= question.votes_total %> votes | <%= question.answers.count %> answers | <%= link_to question.title, question %>
        <br>
        <% if question.answers.count > 0 %>
          <%= time_ago_in_words(question.answers.last.created_at) %> ago
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class="popular_questions">
  <h3>Popular Questions</h3>
  <ul>
    <% @popular_questions.each do |question| %>
      <li>
        <%= question.votes_total %> votes | <%= question.answers.count %> answers | <%= link_to question.title, question %>
        <br>
        <% if question.answers.count > 0 %>
          <%= time_ago_in_words(question.answers.last.created_at) %> ago
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
