<h1><%= @question.title %></h1>

<div class="container">
  <div class="question_main">
    <div class="votes question_votes" data-question-id="<%= @question.id %>">
      <a class="upvote" href="#"></a>
      <div class="votes_total"><%= @question.votes_total %></div>
      <a class="downvote" href="#"></a>
    </div>
    <div class="question_content">
      <%= @question.content %>
      <ul>
        <% @question.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
    </div>
    <div>
      asked <%= @question.created_at %><br>
      <%= @question.user.username %>
    </div>
    <%= render partial: 'comments/form', locals: {commentable_type: @question, comment: @comment} %>

    <div class="suggested_answers">
    <%= render @question.answers %>
    </div>

    <div class="new_answer">
      <h2>Submit an answer</h2>
      <%= render partial: "answers/form", locals: {question: @question} %>
    </div>
  </div>

  <%= render partial: "sidebar", locals: {question: @question} %></div>
