<h1><%= @question.title %></h1>

<div class="question_main">
  <div class="question_votes">
    <%= @question.votes_total %>
  </div>
  <div class="question_content">
    <%= @question.content %>
  </div>
  <div>
    asked <%= @question.created_at %><br>
    <%= @question.user.username %>
  </div>
</div>

<div class="suggested_answers">
  <% @question.answers.each do |answer| %>
    answered <%= answer.created_at %><br>
    <div class="suggested_answer"><%= answer.content %> - <%= answer.user.username %></div>
  <% end %>
</div>

<div class="new_answer">
  <h2>Submit an answer</h2>
  <%= render partial: "answers/form", locals: {question: @question} %>
</div>
