<h1>Lets edit some things?</h1>
<% if flash[:errors] %>
  <div id='error_box'>
    <% flash[:errors].each do |error| %>
      <div id='error_message'><%= error %></div>
    <%end%>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Update Information" %>
<% end %>

<br><br>
<%= link_to 'Delete', @user, method: :delete, data: {confirm: 'Are you sure?'} %>